.img-fluid {
  border: 2px solid #ddd;
  border-radius: 15px;
}

.img-link:hover {
  -moz-border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  border-radius: 30px !important;
}
